---
title: 출하 바코드 검증 시스템
description: 한국알콜산업(KAI)/이엔에프테크놀로지(ENF Tech)
timage: 출하바코드_검증시스템_스캐너_메인화면.png
image: 출하바코드_검증시스템_스캐너_메인화면.png
date: 2019-06-01 ~ 2019-09-30
---

<div style="font-weight: bold; font-size: 1.5rem">출하 바코드 검증 시스템</div>
<div style="text-align: right; color: #aaaab3">2019/06 ~ 2019/09</div>

---

<div class="table-wrapper" markdwon="block">
    <img
    class="hyde page-image"
    src="/assets/images/projects/출하바코드_검증시스템_스캐너_메인화면.png"
    alt="{{ page.image | split: '.' | first }}"
    width="50%"
    height="50%"
    /><img
        class="hyde page-image"
        src="/assets/images/projects/출하바코드_검증시스템_PDA_메인화면.png"
        alt="{{ page.image | split: '.' | first }}"
        width="50%"
        height="50%"
    /><img
        class="hyde page-image"
        src="/assets/images/projects/출하바코드_검증시스템_PDA_실적조회.png"
        alt="{{ page.image | split: '.' | first }}"
        width="50%"
        height="50%"
    /><img
        class="hyde page-image"
        src="/assets/images/projects/출하바코드_검증시스템_PDA_라벨검증.png"
        alt="{{ page.image | split: '.' | first }}"
        width="50%"
        height="50%"
    /><img
        class="hyde page-image"
        src="/assets/images/projects/출하바코드_검증시스템_PDA_데이터조회.png"
        alt="{{ page.image | split: '.' | first }}"
        width="50%"
        height="50%"
    />
</div>


출력된 바코드에 대한 이상 유무 검증과 드럼 입고/생산/출하 과정 실적 처리를 구현했습니다.

- 역할 : WinForm, WinCE 프로그램 FE개발
- Panasonic Scanner SDK 활용
- 이미지 처리를 통한 바코드 이상 유무 확인
- 드럼의 입고/생산/출하 실적 관리를 위한 WinCE 단말기 프로그램 개발

---

<div class="hyde tags skills">
    <a class="hyde tag">C#</a>
    <a class="hyde tag">.Net Framework</a>
    <a class="hyde tag">WinCE</a>
    <a class="hyde tag">Microsoft SQL</a>
    <a class="hyde tag">WCF</a>
</div>
